<% include ../partials/header %>

<% var processed_name = recipe.name.replace(/ /g, "_"); %>

<div class="container" style="padding-top: 30px;">

	<div class="col-lg-6" id="stickyDiv" style="">
		
		<iframe width="560" height="315" style="box-shadow: 0px 7px #ddd; " src="https://www.youtube.com/embed/<%= recipe.video_url.split("=")[1] %>?autoplay=1&rel=0&autohide=1&showinfo=0" frameborder="0"></iframe>

		<form action="/recipes/<%= processed_name %>/update-ingredient" method="post">
			<div class="container" style="padding: 0px;">
				<h4>Ingredients</h4>

				<% recipe.ingredients.forEach(function(ingredient) { %>
						<div style="background: #fff; width: 400px; display: inline-block; border-bottom: 2px solid #ddd;">
							<input type="text" class="editable textFieldEdit" name="ingredient-name" value="<%= ingredient.name %>" disabled>
						</div>
						<div style="background: #fff; width: 155px; display: inline-block; border-bottom: 2px solid #ddd;">
							<input type="text" class="editable textFieldEdit" name="ingredient-quantity" style="font-weight: 300;" value="<%= ingredient.quantity %>" disabled>
						</div><br/>
				<% }); %>
					<br/>
					<button type="submit" style="display: none;" id="updateButton" class="btn btn-warning hiddenButton">Add Ingredient</button>
			</div>
		</form>
	</div>

	<div class="row">
		<div class="col-lg-6"></div>
		<div class="col-lg-6">
			<div class="container-fluid" style="padding: 0px 10px; border: 1px solid #eee; border-bottom: 3px solid #eee; background: #fff;">
				<form action="/recipes/<%= processed_name %>/update" method="post">

					<h3><input type="text" class="editable textFieldEdit" id="title" name="name" value="<%= recipe.name %>" disabled></h3>

					<textarea rows="2" class="editable textFieldEdit" id ="description" name="description" style="font-weight: 300;" disabled><%= recipe.description %></textarea>

					<div style="color: #465154; font-weight: 700; display: inline-block;">
						<input type="text" class="editable textFieldEdit" id="prep_time" name="prep_time" value="Prep Time: <%= recipe.prep_time %>" disabled>
					</div>
					<div style="color: #465154; font-weight: 700; display: inline-block;">
						<input type="text" class="editable textFieldEdit" id="cook_time" name="cook_time" value="Cook Time: <%= recipe.cook_time %>" disabled>
					</div>
					<p/><br/>

					<% if (cookbooks) { %>
							<div class="dropdown" style="display: inline-block;">
									<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add to Cookbook
									<span class="caret"></span></button>
									<ul class="dropdown-menu">
										<% cookbooks.forEach(function(cookbook) { %>
										 <li><a href="/recipes/<%= recipe.name %>/addTo/<%= cookbook.id %>"><%= cookbook.name %></a></li>
										<% }); %>
									</ul>
							</div>
					<% }; %>

					<button class="btn btn-warning" id="editButton" style="display: inline-block;">Edit Recipe</button>
					<button type="submit" style="display: none; float: right;" id="updateButton" class="btn btn-danger hiddenButton">Save Recipe</button>
					<p/>
				</form>
			</div>

			<div class="container-fluid" style="padding: 0px;">
				<form action="/recipes/<%= processed_name %>/update" method="post">
					<% for (var i=0; i < recipe.steps.length; i++ ) { %>

						<div class="container-fluid recipe-step">
							<div class="row" id="recipeStepBox" style="margin-top: 5px; padding: 10px; border-bottom: 3px solid #eee; background: #fff;">
								<div class="col-md-1" style="font-weight: 700; font-size: 25px;">
									<%= i+1 %>
								</div>
								<div class="col-md-10" style="font-weight: 300; min-height: 70px;">
									<%= recipe.steps[i] %>
								</div>
								<div class="col-md-1 glyphicon glyphicon-ok" id="checkmark">
								</div>
							</div>
						</div>
					<% }; %>
				</form>
			</div>
			<br/>
			<button type="submit" style="display: none;" id="add" class="btn btn-warning hiddenButton">Add Step</button>
		</div>
	</div>
</div>

<script>

var $window = $(window),
       $stickyEl = $('#stickyDiv'),
       elTop = $stickyEl.offset().top - 50;

   $window.scroll(function() {
        $stickyEl.toggleClass('sticky', $window.scrollTop() > elTop);
    });

	$('#editButton').click(function(e) {
		e.preventDefault();
		$('.hiddenButton').toggle();
		if ($('.editable').attr('disabled')) {
			$('.editable').removeAttr('disabled');
			$('.editable').addClass('editMode');
		} else {
			$('.editable').attr('disabled', 'disabled');
			$('.editable').removeClass('editMode');
		}
	});

	$('#recipeStepBox').click(function(e) {
		e.preventDefault();
		console.log('hello');
		$('#checkmark').toggle();
	})

</script>

</body>
