<% include ../partials/header %>

<% var processed_name = recipe.name.replace(/ /g, "_"); %>

<div class="container">

	<div style="margin-bottom: 20px;">

		<button class="btn btn-danger" id="editButton">Edit Recipe</button>

		<% if (cookbooks) { %>
				<div class="dropdown" style="display: inline-block;">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add to Cookbook
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<% cookbooks.forEach(function(cookbook) { %>
							 <li><a href="/recipes/<%= recipe.name %>/addTo/<%= cookbook.id %>"><%= cookbook.name %></a></li>
							<% }); %>
						</ul>
				</div>
		<% }; %>

	</div>

	<div class="row">
		<div class="col-lg-6">
			
			<iframe width="560" height="315" style="box-shadow: 0px 7px #ddd;" src="https://www.youtube.com/embed/<%= recipe.video_url.split("=")[1] %>?autoplay=1" frameborder="0"></iframe>

			<form action="/recipes/<%= processed_name %>/update-ingredient" method="post">
				<div class="container-fluid" style="padding: 10px;">
					<p>Ingredients</p>
					<% recipe.ingredients.forEach(function(ingredient) { %>
						<div class="row" style="border: 1px solid #ddd;">
							<div class="col-lg-8" style="background: #fff;">
								<input type="text" class="editable textFieldEdit" name="ingredient-name" value="<%= ingredient.name %>" disabled>
							</div>
							<div class="col-lg-4" style="background: #eee;">
								<input type="text" class="editable textFieldEdit" name="ingredient-quantity" value="<%= ingredient.quantity %>" disabled>
							</div>
						</div>
					<% }); %>
						<div class="row">
							<div class="col-lg-8">
								<input type="text" id="new-ingredient-name" class="editable textFieldEdit" name="ingredient-name">
							</div>
							<div class="col-lg-4">
								<input type="text" id="new-ingredient-qty" class="editable textFieldEdit" name="ingredient-quantity">
							</div>
						</div>
						<p></p>
						<button type="submit" style="display: none;" id="updateButton" class="btn btn-warning hiddenButton">Add Ingredient</button>
				</div>
			</form>
		</div>
		<div class="col-lg-6">
			<div class="container-fluid" style="padding: 0px 10px; border: 1px solid #eee; border-bottom: 3px solid #eee; background: #fff;">
				<form action="/recipes/<%= processed_name %>/update" method="post">
					<input type="text" class="editable textFieldEdit" id="title" name="name" value="<%= recipe.name %>" disabled>
					<textarea rows="4" class="editable textFieldEdit" id ="description" name="description" disabled><%= recipe.description %></textarea>
					<div style="width: 70px; background: #aaa; color: #fff; display: inline-block;">
						<input type="text" class="editable textFieldEdit" id="prep_time" name="prep_time" value="<%= recipe.prep_time %>" disabled>
					</div>
					<div style="width: 70px; background: #aaa; color: #fff; display: inline-block;">
						<input type="text" class="editable textFieldEdit" id="cook_time" name="cook_time" value="<%= recipe.cook_time %>" disabled>
					</div>
					<p>
					<button type="submit" style="display: none;" id="updateButton" class="btn btn-warning hiddenButton">Save Recipe</button>
				</form>
			</div>

			<div class="container-fluid" style="padding: 0px;">
				<form action="/recipes/<%= processed_name %>/update" method="post">
					<% recipe.steps.forEach(function(step) { %>
					<% console.log(step.index); %>
						<div style="margin-top: 5px; padding: 10px; border-bottom: 3px solid #eee; background: #fff;">
							<input type="text" class="editable textFieldEdit" name="<%= step %>" value="<%= step %>" disabled>
						</div>
					<% }); %>
				</form>
			</div>

			<button type="submit" style="display: none;" id="saveButton" class="btn btn-warning hiddenButton">Save to Cookbook</button>
		</div>
	</div>
</div>

</body>
