<% include ../partials/header %>

<% var processed_name = recipe.name.replace(/ /g, "_"); %>
<div class="container">

	<button id="editButton">Edit Recipe</button>

	<% if (cookbooks) { %>
		<form action="/recipes/<%= recipe.name %>/addTo" method="post">
			<select name="cookbook" onchange="this.form.submit()">
				<option value="" selected disabled>Add To Cookbook</option>
				<% cookbooks.forEach(function(cookbook) { %>
					<option value="<%= cookbook.id %>"><%= cookbook.name %></option>
					<% }) %>
			</select>
		</form>
	<% }; %>


	<div class="row">
		<div class="col-lg-6">
			<iframe width="100%" height="400px" src="https://www.youtube.com/embed/shsY7FwcCnw" frameborder="0" allowfullscreen></iframe>

			<form action="/recipes/<%= processed_name %>/update-ingredient" method="post">
				<div class="container">
					<h1>Ingredients</h1>
					<% recipe.ingredients.forEach(function(ingredient) { %>
						<input type="text" class="editable ingredient textFieldEdit" name="ingredient-name" value="<%= ingredient.name %>" disabled>
						<input type="text" class="editable ingredient-quantity textFieldEdit" name="ingredient-quantity" value="<%= ingredient.quantity %>" disabled><br/>
					<% }); %>
						<input type="text" id="new-ingredient-name" class="editable ingredient textFieldEdit" name="ingredient-name">
						<input type="text" id="new-ingredient-qty" class="editable ingredient-quantity textFieldEdit" name="ingredient-quantity"><br/>
					<input type="submit" style="display: none;" id="updateButton" class="hiddenButton" value="Add Ingredient">
				</div>
			</form>
		</div>
		<div class="col-lg-6">

			<form action="/recipes/<%= processed_name %>/update" method="post">
				<input type="text" class="editable textFieldEdit recipe" id="title" name="name" value="<%= recipe.name %>" disabled>
				<textarea rows="4" class="editable textFieldEdit recipe" id ="description" name="description" disabled><%= recipe.description %></textarea>
				<input type="text" class="editable textFieldEdit recipe" id="prep_time" name="prep_time" value="<%= recipe.prep_time %>" disabled>
				<input type="text" class="editable textFieldEdit recipe" id="cook_time" name="cook_time" value="<%= recipe.cook_time %>" disabled>
				<input type="submit" style="display: none;" id="updateButton" class="hiddenButton" value="Update Recipe">
			</form>

			<form action="/recipes/<%= processed_name %>/update" method="post">
				<ol>
					<% recipe.steps.forEach(function(step) { %>
						<li><%= step %></li>
					<% }); %>
				</ol>
			</form>

			<button class="hiddenButton" style="display: none;" id="saveButton">Save to Cookbook</button>
		</div>

<script>

// var i = 0;
// var s = 0;
// var ingredientsArray = [];
// var stepsArray = [];

// 	$('#ingredientsButton').click(function() {
		
// 		console.log(i);
// 		i += 1;

// 		var ingredientForm = $('<input type="text" class="editable textFieldEdit recipe" name="step-instruction" value="<%= recipe.steps.instruction %>" disabled><input type="text" class="editable textFieldEdit recipe" name="step-image_url" value="<%= recipe.steps.image_url %>" disabled>');

// 		$('#ingredientsContainer').append(ingredientForm);

// 		console.log(i);
// 	});

// 	$('#stepsButton').click(function() {
// 		console.log(s);
// 		s += 1;

// 		var stepForm = $('<input type="text" class="editable textFieldEdit recipe" name="step-instruction" value="<%= recipe.steps.instruction %>" disabled><input type="text" class="editable textFieldEdit recipe" name="step-image_url" value="<%= recipe.steps.image_url %>" disabled>');
// 		$('#stepsContainer').append(stepForm);

// 		console.log(s);
// 	});

// </script>

</body>
