<% include ../partials/header %>

<div id="cookbook-heading" class="container" style="padding-top: 50px;">

<p>
<button class="btn btn-danger" data-toggle="modal" data-target="#addCookbookModal">Add Cookbook</button>
</p>

		<% cookbooks.forEach(function(cookbook) { %>
			<% var processed_name = cookbook.name.replace(/ /g,"_"); %>

			<a href="/cookbooks/<%= processed_name %>">
			<div class="cookbook">
				<div class="outerDiv" style="background: url('<%= cookbook.image_url %>');">
					<div class="innerDiv">
						<h2><%= cookbook.name %></h2>
						<p><%= cookbook.description %></p>
						<p>by <%= cookbook.username %></p>
					</div>
				</div>
			</div>
			</a>

		<% }) %>

	</div>

<!-- Add Cookbook Modal -->
<div id="addCookbookModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
		<form action="/cookbooks/create" method="post">

		    <label name="name">Cookbook Name</label>
		    <input type="text" name="name" value=""/>
			</br>

		    <label name="description">Description</label>
		    <input type="text" name="description" value=""/>    
		    </br>

		   	<label name="image_url">Image</label>
		    <input type="text" name="image_url" value=""/>    
		    </br>

		    <input type="submit" value="Create New Cookbook">

		</form>
      </div>
    </div>

  </div>
</div>
