<% include ../partials/header %>

<% var processed_name = cookbook.name.replace(/ /g, "_"); %>

<div class="container" style="height: 400px; background: url('<%= cookbook.image_url %>'); background-size: cover; ">
	<button id="editButton">Edit</button>
</div>

<div class="container">

<form action="/cookbooks/<%= processed_name %>/update" method="post">

	<h1>
		<input type="text" name="name" class="editable textFieldEdit" value="<%= cookbook.name %>" disabled>
	</h1>

	<h3><input type="text" name="description" class="editable textFieldEdit" value="<%= cookbook.description %>" disabled></h3>

	<p>
		<input type="text" name="image_url" class="editable textFieldEdit" value="<%= cookbook.image_url %>" disabled>
	</p>
	
	<input type="submit" id="updateButton" value="Update Cookbook" style="display: none;">

</div>

	<div class="container">
	<div class="recipe-item videoDiv">
		<video class="foodGif" width="100%" loop="true">
			<source src="<%= recipe.main_image_url %>" type="video/webm">
				Your browser does not support the video tag.
		</video>
	</div>
</div>
