<% include ../partials/header %>

<% var processed_name = cookbook.name.replace(/ /g, "_"); %>

<div class="container" style="padding-top: 40px;">

	<div class="cookbook-heading container" id="cookbook-heading" style="background: url('<%= cookbook.image_url %>'); background-size: cover; background-position: center; border-bottom: 5px solid #ddd; border-radius: 3px;">
		<button type="button" class="btn btn-warning" id="editButton">Edit</button>
		<form action="/cookbooks/<%= processed_name %>/update" method="post">
			<h1><input type="text" id="title" name="name" class="editable textFieldEdit" value="<%= cookbook.name %>" disabled></h1>
			<h3><i><input type="text" name="description" class="editable textFieldEdit" value='"<%= cookbook.description %>"' disabled></i>
			<br/>
			- <%= cookbook.username %>
			</h3>
			<input type="submit" id="updateButton" value="Update Cookbook" style="display: none;">
		</form>
	</div>

	<div class="container">
		<div id="recipes" class="row"></div>
	</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

<script src="../javascripts/cookbook.js"></script>
